
body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ container ------------ */
.container{
    margin: 5px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.2fr 2fr;
    grid-gap: 0.2rem;
}

/* ------------ header ------------ */
.header{
    /* width: 1300px;
    height:200px; */
    background-image: url('../img/bg2.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 15px 15px;
    /* position: relative; */
    display: grid;
    grid-template-columns: 0.2fr 0.1fr;
    grid-template-rows:0.2fr 3fr;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    top: 20px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    /* width:380px;
    height: 350px;
    max-height:350px; */
    background-color: #FFF;
    overflow: scroll;
    /* margin-top: 5px; */
}
.main{
    height: 50vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    /* width: 1300px; */
    /* height: 350px; */
    margin: auto; 
   /* background-color: aqua; */
    /* color: #444444; */
}
.content::-webkit-scrollbar {  
    display: scroll; 
} 
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0; 
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    /* width: 500px;
    height:35px; */
    background-color: #FFF;
    /* padding: 10px;
    margin-top:10px; */
    border-top: 1px solid rgba(0,0,0,0.1);
    /* left:400px; */
    /* top: 140px; */
    border-radius: 15px 15px 15px 15px;
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 70vw;
    background-color: transparent;
    border: none;
    font-size: 20px;
    /* padding-left:10px; */
}

h5{
    text-align: center;
    font-size: 20px;
   letter-spacing: 1px;
   padding: 0;
    margin: 0;
}

@media only screen and (max-width: 550px) {
    .container{
        margin: 5px;
        display: grid;
        height: 100vh;
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.3fr 3fr;
        grid-gap: 0.2rem;
    }
    .main 
    {
        height: 70vh;
        width: 100vw;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        /* width: 1300px; */
        /* height: 350px; */
       
    }
    #date{
        position: absolute;
        bottom: 200px;
        left: 10px;
        color: #FFF;
        font-size: 25px;
        font-family: 'Titillium Web', sans-serif;
    }
    .content ul{
        width:70vw;
    }

    .item{
        width:90vw;
        height: 45px;
        min-height: 45px;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        list-style: none;
        padding: 0;
        margin: 0; 
    }
    .item i.co
    {
        position: absolute;
        font-size: 25px;
        padding-left:5px;
        left:15px;
        top:10px;
    }
  }
  
























